{{input type="text" id="new-todo" placeholder="What needs to be done?"
		value=newTitle action="createTodo"}}

<section id="main">
	{{outlet}}

	<input type="checkbox" id="toggle-all">
</section>


<footer id="footer">
	<span id="todo-count">
		<strong>2</strong> todos left
	</span>
	<ul id="filters">
		<li>
			{{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
		</li>
		<li>
			{{#link-to "todos.complete" activeClass="selected"}}Completed{{/link-to}}
		</li>
	</ul>

	<button id="clear-completed">
		Clear completed (1)
	</button>
</footer>
